
.nothing__main-content {
    align-items: center;
    background: linear-gradient(#9055FF , #13E2DA);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p {
        text-align: center;
    }
}

